center > span 
{
    background-color: white;
    padding: 6px;
    border-radius: 0.3em;
    color: darkcyan;
    font-size: 32px;
    border-color: darkcyan;
    border-width: thick;
    border-style: double;
}


.mybg
{
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.pic
{
    overflow: hidden;
    border-radius: 3em;
    border-style: double;
    border-color: darkcyan;
    border-width: thick;    

}


figcaption
{
    overflow: hidden;
    font-family: cursive;
    padding-top: 60px;
    padding: 10px;
    background-color: darkcyan;
    color: white;
    border-color: white;
    border-radius: 1.5em;
    border-style:double;
    background-size: cover;
    box-sizing: border-box;
    text-align:center;
    border-width: thick;
    
    
}




        

        
        
        
        






















































